--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
pandas
# Numpy bản cũ để tương thích với Scikit-learn 1.2.2
numpy==1.24.4
joblib
plotly
openmeteo-requests
requests-cache
retry-requests
requests==2.31.0
urllib3<2.0.0
# Scikit-learn bản cũ để đọc được file .pkl cũ
scikit-learn==1.2.2
torch